table {
    margin: 0 auto;
    width: 80%;
	border-collapse: collapse;
	border: 2px solid red;
}

table,
tr,
td {
	border: 2px solid red;
}

td {
    height: 90px;
    width: 90px;
}

/* tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: #c2c2c2;
} */

tr:nth-child(even) > td:nth-child(odd),
tr:nth-child(odd) > td:nth-child(even){
	background-color: #c2c2c2;
}

tr{
    text-align: center;
    font-size: 4rem;
}