*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-family: 'Roboto', sans-serif;
}

.wrapper{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	height:100vh;
}

a{
	text-decoration: none;
}

.header-link{
	color:rgba(0,0,0,.87);
}
.header-link:hover{
	text-decoration: underline;
}

.apps-btn{
	display: flex;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
}

.apps-btn:hover{
	background-color:#d3d3d3;
}

.apps-btn svg path{
	color:red;
	width: 24px;
	height: 24px;
}

.login-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 40px;
	border-radius:4px;
	color:#fff;
	background-color:#1a73e8;
}
.header{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-top: 15px;
}
.header a{
	margin-right: 25px;
}
.main{
	margin-top: -20%;
}
.main>div{
	margin-bottom:30px;
}
.main>div:last-child{
	margin-bottom: 0;
}

.main-img{
	display: flex;
	justify-content: center;
}
.main-input{
	position: relative;
	width: 70%;
	height: 30px;
	margin:0 auto;
}
.icon{
	position: absolute;
	left: 20px;
	top: calc(50% - 5px);
	width: 10px;
	height: 10px;
	background:red;
}
.main-input input{
	width: 100%;
	height: 100%;
	padding: 0 15px;
	border-radius:15px;
}
.main-submit{
	display: flex;
	justify-content: center;
}
.btn{
	display: flex;
	align-items: center;
	height: 36px;
	min-width:54px;
	padding: 0 16px;
	margin-right: 11px;
	border-radius:4px;
	border:1px solid #f8f9fa;
	background-color:#f8f9fa;
	color:#3c4043;
	font-family:arial,sans-serif;
}
.btn:hover{
	border-color:#dadce0;
}
.main-lang{
	text-align: center;
}
.main-lang a{
	padding-left:3px;
}